<h1>{% trans %}Hi! Please confirm your email!{% endtrans %}<h1>

<p><center>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </center>
</p>

<p>
    Cheers!
</p>
