{% extends 'base.html.twig' %}

{% block body %}

	{% include "directory/index.nav.twig" %}

	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

		{% include "directory/table_display.html.twig" %}

		<a href="{{ path('directory_new') }}">{% trans %}Create new{% endtrans %}</a>
	</div>
	<div class="tab-pane fade" id="nav-folder" role="tabpanel" aria-labelledby="nav-folder-tab">
		<div class="w3-container">
			{% for directory in directories %}
				{% include "directory/folder_display.html.twig" %}

			{% else %}
				<div>
					<td colspan="22">no folder found</td>
				</div>

			{% endfor %}
		</div>


		<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
	</div>
{% endblock %}
