	<div class="w3-container">
		<a class="w3-third w3-btn w3-teal fa fa-pencil w3-padding-large" href="{{ path('directory_child_new',{'id': parent.id}) }}"> {% trans %}Create new{% endtrans %}</a>
        <a class="w3-third w3-btn" href="{{ path('directory_child_new',{'id': parent.id}) }}"></a>
        <a class="w3-third w3-btn fa fa-upload w3-dark-grey w3-padding-large" href="{{ path('file_folder_new',{'id': parent.id}) }}"> upload File</a>

	</div>
	