{% extends 'base.html.twig' %}

{% block title %}New Locality{% endblock %}

{% block body %}
    <h1>{% trans %}Create new{% endtrans %} {% trans %}Locality{% endtrans %}<h1>

    {{ include('locality/_form.html.twig') }}

    <a href="{{ path('locality_index') }}">back to list</a>
{% endblock %}
