{% extends 'base.html.twig' %}

{% block title %}Edit Subdivision{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Subdivision{% endtrans %}<h1>

    {{ include('subdivision/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('subdivision_index') }}">back to list</a>

    {{ include('subdivision/_delete_form.html.twig') }}
{% endblock %}
