{% extends 'base.html.twig' %}

{% block title %}New Subdivision{% endblock %}

{% block body %}
    <h1>{% trans %}Create new{% endtrans %} {% trans %}Subdivision{% endtrans %}<h1>

    {{ include('subdivision/_form.html.twig') }}

    <a href="{{ path('subdivision_index') }}">back to list</a>
{% endblock %}
