{% extends 'base.html.twig' %}

{% block title %}CompanyDivision{% endblock %}

{% block body %}
    <h1>CompanyDivision</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company_division.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('company_division_index') }}">back to list</a>

    <a href="{{ path('company_division_edit', {'id': company_division.id}) }}">edit</a>

    {{ include('company_division/_delete_form.html.twig') }}
{% endblock %}
