{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>{% trans %}Create new{% endtrans %} {% trans %}Company{% endtrans %}<h1>

    {{ include('company/_form.html.twig') }}

    <a href="{{ path('company_index') }}">back to list</a>
{% endblock %}
