<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="{{ asset('./favicon.png') }}"/>
		<link rel="shortcut icon" type="image/png" href="{{ asset('./favicon.png') }}"/>

		{%  include  "css.html.twig" %}
		{% block stylesheets %}{% endblock %}
	</head>
	<body id="page">
		<div class="w3-container">
			{% include 'nav.html.twig' %}
		</div>
		<div class="w3-container w3-main w3-animate-zoom">
		 {% block body %}{% endblock %}
		 {% block footer %}{% endblock %}


			{%  include  "js.html.twig" %}


			{% block javascripts %}{% endblock %}
		</div>

	</body>
</html>
