<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{%  include  "css.html.twig" %}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% include 'nav.html.twig' %}
		{% include 'sidebar.html.twig' %}
		{% include 'sidebar.html2.twig' %}

		<div class="w3-container w3-main w3-animate-zoom" style="margin-left:340px;margin-right:340px;min-height: 500px"> {% block body %}{% endblock %}
		</div>
			{% block footer %}{% endblock %}


			{%  include  "js.html.twig" %}


			{% block javascripts %}{% endblock %}
		</body>
	</html>
