<nav class="w3-sidebar w3-round w3-bar-block w3-collapse w3-rigthbar w3-rightbar w3-border-teal w3-animate-left w3-card w3-hover-border-dark-grey w3-hover-white w3-teal " style="z-index:3;width:250px;right:0" id="mySecondSidebar">
	<a class="w3-bar-item w3-button w3-border-bottom  w3-large w3-center w3-hover-teal" href="{{ path('home') }}"><img class="w3-round-xxlarge w3-image" src="{{ asset('./birth3.png') }}" style="width:100%;color: teal;text-align: center;" alt="BIRTH"></a>
	<a class="w3-bar-item w3-button w3-hide w3-dark-grey w3-transparent-large w3-hover-teal w3-large" href="javascript:void(0)" onclick="w3_close2()">{% trans %}Close
		{% endtrans %}<i class="fa fa-remove"></i>
	</a>


	<a class="w3-bar-item w3-button w3-hover-teal" href="{{ path('home') }}">
		<span class='fa fa-home fa-2x'></span>
		{% trans %}
		Home
		{% endtrans %}</a>




</nav>


<script>
	// Open and close the sidebar on medium and small screens
function w3_open() {
document.getElementById("mySidebar2").style.display = "block";
document.getElementById("myOverlay2").style.display = "block";
}

function w3_close2() {
document.getElementById("mySidebar2").style.display = "none";
document.getElementById("myOverlay2").style.display = "none";
}

// Change style of top container on scroll
window.onscroll = function () {
myFunction()
};
function myFunction() {
if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
document.getElementById("myTop2").classList.add("w3-card-4", "w3-animate-opacity");
document.getElementById("myIntro2").classList.add("w3-show-inline-block");
} else {
document.getElementById("myIntro2").classList.remove("w3-show-inline-block");
document.getElementById("myTop2").classList.remove("w3-card-4", "w3-animate-opacity");
}
}

// Accordions
function mySecondAccordion(id) {
var x = document.getElementById(id);
if (x.className.indexOf("w3-show") == -1) {
x.className += " w3-show";
x.previousElementSibling.className += " w3-theme";
} else {
x.className = x.className.replace("w3-show", "");
x.previousElementSibling.className = x.previousElementSibling.className.replace(" w3-theme", "");
}
}
</script>
