{% extends 'base.html.twig' %}

{% block title %}New Region{% endblock %}

{% block body %}
    <h1>{% trans %}Create new{% endtrans %} {% trans %}Region{% endtrans %}<h1>

    {{ include('region/_form.html.twig') }}

    <a href="{{ path('region_index') }}">back to list</a>
{% endblock %}
